@font-face {
  font-family: "Mario";
  src: url(SuperMarioBros.ttf) format("truetype");
}
body, html{
  height:100%;
}
body{
  background: url("Images/background2.jpeg");
  background-size: cover;
  margin: 0px;
  font-size: 18px;
}
a{
  text-decoration: none;
}
button, a{
  font-size: 22px;
  font-family: "Mario";
  color: #663300;
  background-color: #FFD800;
  border-width: 0px;
  border-radius: 15px;
  box-shadow: 0 5px #FF9900;
  margin-top: 6.5px;
  margin-left: 6px;
}

button:hover,
button.hover{
  background-color: #FFCC00;
}

a:active,
button:active,
button.active{
  box-shadow: 0 2px #FF9900;
  transform: translateY(3px);
}

.title, .addDancerButton{
  padding:3px 6px;
  float:right;
}
.topbar{
  height:45px;
  background-color: #BCE27F;
}
.title{
  background: url("Images/SuperMarioLogo.png");  
  background-size: cover;
  width: 100px;
  height: 45px;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.superMario{
  border: none;
  background: url("Images/Mario2.png");
  background-size: cover;
  width: 100px; /* Width of new image */
  height: 125px; /* Height of new image */
}
.somersault{
  border: none;
  background: url("Images/ghost.png");
  background-size: cover;
  width: 150px; /* Width of new image */
  height: 150px; /* Height of new image */
}

.fighter{ 
  border: none;
  background: url("Images/charlie-big-super2.gif");
  background-size: cover;
  width: 220px; /* Width of new image */
  height: 125px; /* Height of new image */  
}

.blinky{
  border: none;
  background: url("Images/blinkyStart.png");
  background-size: cover;
  width: 130px; /* Width of new image */
  height: 125px; /* Height of new image */ 
}

.rotation-continuous{
  animation-name: spinning;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rotation{
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spinning {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} 

.move{
  position: absolute;
  animation-name: move;
  animation-duration: 8s;
  animation-iteration-count: infinite;
}
 
@keyframes move {
    0% {top: 500px; left: 500px;}
    25% {top: 400px; left: 250px;}
    50% {top: 300px; left: 500px;}
    75% {top: 200px; left: 250px;}
    100% {top: 100px; left: 500px;}
}