body, html{
  height:100%;
}
body{
  background: url("Images/background2.jpeg");
  background-size: cover;
  margin: 0px;
  font-size: 18px;
}
body, a:link, a:visited, a:active{
  color: lightblue;
}
.title, .addDancerButton{
  padding:5px 12px;
  float:right;
}
.topbar{
  height:32px;
  background-color: #555;
}
.title{
  background-color: #777;
}
.dancer{
  border:10px solid blue;
  border-radius:10px;
  position:absolute;
}
.superMario{
  border: none;
  background: url("Images/Mario2.png");
  background-size: cover;
  width: 100px; /* Width of new image */
  height: 125px; /* Height of new image */
}
.somersault{
  border: none;
  background: url("Images/ghost.png");
  background-size: cover;
  width: 150px; /* Width of new image */
  height: 150px; /* Height of new image */
}

.fighter{ 
  border: none;
  background: url("Images/charlie-big-super2.gif");
  background-size: cover;
  width: 220px; /* Width of new image */
  height: 125px; /* Height of new image */  
}

.blinky{
  border: none;
  background: url("Images/blinkyStart.png");
  background-size: cover;
  width: 130px; /* Width of new image */
  height: 125px; /* Height of new image */ 
}

.rotation-continuous{
  animation-name: spinning;
  animation-duration: 3s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.rotation{
  animation-name: spinning;
  animation-duration: 3s;
  animation-iteration-count: infinite;
}
@keyframes spinning {
  0% {transform: rotate(0deg);}
  100% {transform: rotate(360deg);}
} 
/*
@keyframes glow {
    0% {
        opacity: 0;
    }
    50% {
        opacity: 1;
    }
    100% {
        opacity: 0;
    }
}*/